.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

html.dark {
    background-color: #0d0950;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }
  