---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-10 text-justify">
    <div class="image-wrapper"></div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am passionate about applying data-driven insights to solve real-world
    problems and create value for businesses and society! Also, I like to design
    and explore new technologie :) <div></div>
    Area: AI, Corporate Strategy, Business Devleopment, Product Mangement, Data Analytics,
    Technology Entrepreneurship.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Arizona State University"
      subtitle="August 2022 - May 2026 at W.P Carey School of Business, Tempe, Arizona"
    >
      Bachelor of Science in Business Data Analytics <br />
      Certificate in International Business
    </TimeLineElement>

    <TimeLineElement
      title="Barrett, The Honors College"
      subtitle="January 2023 - May 2026 at Arizona State University, Tempe, Arizona"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="[Global Strategy & BD Div.] AI Strategy Team Intern"
      subtitle="Jul 2022 to Present at Krafton Inc., Seoul, South Korea"
    >
      <li>
        Identifying AI solutions that can help the needs and challenges of game
        studios.
      </li>
      <li>
        Supporting the evaluation and analysis of effective AI solutions &
        products.
      </li>
      <li>
        Analyzing AI technology & gaming investment trends and writing into
        internal reports.
      </li>
      <li>Researching the AI used case in the gaming industry.</li>
      <li>
        Assisting the strategic AI initiatives at Krafton HQ(Market cap of
        $14.92B).
      </li>
      <br />
    </TimeLineElement>

    <TimeLineElement
      title="Co-founder"
      subtitle="Nov 2022 to Sep 2024 at Tradies, Arizona, United States"
    >
      <li>Created a team, built a foundation of the venture.</li>
      <li>Raised $25,000 in seed funding.</li>
      <br />
    </TimeLineElement>

    <TimeLineElement
      title="Undergraduate Research Assistant"
      subtitle="Sep 2023 to Present at ASU Watts College of Public Service & Community Solutions, Phoenix, Arizona, United States"
    >
      <li>
        Assisting NSF-funded place-based economic development and the factors
        that promote economic restructuring and resilience.
      </li>
      <li>
        Creating a relational database for a collaborative research among Duke,
        USC, ASU, and U of Colorado.
      </li>
      <li>
        Cleaning multiple datasets containing 1M+ corporate & university
        information variables.
      </li>
      <br />
    </TimeLineElement>

    <TimeLineElement
      title="Office Support Assistant"
      subtitle="Jan 2023 to Jun 2023 at Arizona State University, Tempe, Arizona, United States"
    >
      <li>
        Managed data entry for income databases, ensured accuracy and
        completeness of information.
      </li>
      <li>
        Assisted students and faculty with utilizing technology in group spaces,
        troubleshooting technical issues, and providing guidance on available
        resources.
      </li>
      <li>
        Assisted coordinators with the hiring process by conducting reference
        checks, gathering necessary documentation, and setting up interviews
        with potential candidates. Assisted with scheduling meetings, including
        coordinating availability with multiple stakeholders.
      </li>
      <br />
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Language</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li>Fluent English</li>
    <li>Native Korean</li>
    <li>Intermediate Spanish</li>
    <li>Beginner Chinese</li>
    <li>Beginner Japanese</li>
  </ul>
  <br />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Tools I Have Used or Learned</div>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Development</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>vscode</li>
    <li>xcode</li>
    <li>vercel</li>
    <li>php</li>
    <li>bash</li>
    <li>ssh</li>
    <li>react</li>
    <li>pycharm</li>
    <li>powershell</li>
    <li>Node.js</li>
    <li>Next.js</li>
    <li>homebrew</li>
    <li>javascript</li>
    <li>html5</li>
    <li>github</li>
    <li>git</li>
    <li>flutter</li>
    <li>bash</li>
    <li>css</li>
    <li>swift</li>
  </ul>
  <br />

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Data Science</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>SQLite</li>
    <li>RStudio</li>
    <li>R</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
    <li>Stata</li>
    <li>PostgreSQL</li>
    <li>pandas</li>
    <li>numpy</li>
    <li>mysql</li>
    <li>mangoDB</li>
    <li>matplotlib</li>
    <li>keras</li>
    <li>kaggle</li>
    <li>jupyternotebook</li>
    <li>json</li>
    <li>dbeaver</li>
  </ul>
  <br />

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Business & Productivity</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Trello</li>
    <li>Slack</li>
    <li>Salesforce</li>
    <li>notion</li>
    <li>Linkedin</li>
    <li>Jira</li>
    <li>Confluence</li>
  </ul>
  <br />

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Design</div>
  </div>
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>figma</li>
    <li>premierepro</li>
    <li>photoshop</li>
    <li>unrealengine</li>
  </ul>
  <br />
</BaseLayout>
