---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-10 text-justify">
    <div class="image-wrapper">
      <img src="https://i.imgur.com/GZNBWNc.png" />
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a Business Data Analytics student at Barrett, The Honors College and W.
    P. Carey School of Business at Arizona State University, I am passionate
    about applying data-driven insights to solve real-world problems and create
    value for businesses and society. <br /><br />

    Business devleopment, product mangement, data analytics
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Arizona State University"
      subtitle="August 2022 - May 2026 at W.P Carey School of Business, Tempe, Arizona"
    >
      Bachelor of Science in Business Data Analytics <br />
      Certificate in International Business
    </TimeLineElement>

    <TimeLineElement
      title="Barrett, The Honors College"
      subtitle="January 2023 - May 2026 at Arizona State University, Tempe, Arizona"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Founder | CIO"
      subtitle="Feb 2024 to Present at Tradies, United States"
    >
      <li>
        Building algorithms including recommender system (RS) based on
        contents-based filtering and collaborative filtering.
      </li>
      <li>
        Leading a project management of frontend, backend, and cloud
        configuration.
      </li>
      <li>
        Designing the product structure of AI-based social media for college
        students connecting peers and resources.
      </li>
      <br />
    </TimeLineElement>

    <TimeLineElement
      title="Founder | CEO"
      subtitle="Nov 2022 to Jan 2024 at Tradies, United States"
    >
      <li>Created a team, built a foundation of the venture.</li>
      <li>Raised $25,000 in seed funding.</li>
      <br />
    </TimeLineElement>

    <TimeLineElement
      title="Undergraduate Research Assistant"
      subtitle="Sep 2023 to Present at ASU Watts College of Public Service & Community Solutions, Phoenix, Arizona, United States"
    >
      <li>
        Assisting NSF-funded place-based economic development and the factors
        that promote economic restructuring and resilience.
      </li>
      <li>
        Creating a relational database for a collaborative research among Duke,
        USC, ASU, and U of Colorado.
      </li>
      <li>
        Cleaning multiple datasets containing 1M+ corporate & university
        information variables.
      </li>
      <br />
    </TimeLineElement>

    <TimeLineElement
      title="Office Support Assistant"
      subtitle="Jan 2023 to Jun 2023 at Arizona State University, Tempe, Arizona, United States"
    >
      <li>
        Managed data entry for income databases, ensured accuracy and
        completeness of information.
      </li>
      <li>
        Assisted students and faculty with utilizing technology in group spaces,
        troubleshooting technical issues, and providing guidance on available
        resources.
      </li>
      <li>
        Assisted coordinators with the hiring process by conducting reference
        checks, gathering necessary documentation, and setting up interviews
        with potential candidates. Assisted with scheduling meetings, including
        coordinating availability with multiple stakeholders.
      </li>
      <br />
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
